.section{
    margin-top: 20px;

}

.sectionHeader{
    margin-bottom: 10px;
}

.addMore{
    width: 735px;
    text-align: end;
    color: cadetblue;
}

.addMore span{
    cursor: pointer;
}

.formDataWrap{
    display: flex;
    flex-direction: row;
}

.radioButton{
    margin-right: 10px;
}

.error{
    color: red;
}

.rawTextarea{
    width: 400px;
    height: 300px;
}

.resetWrapper{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}