.wrapper{
    margin: 20px;
}

.urlWrapper{
    display: flex;
    max-width: 730px;
}

.section{
    margin-top: 20px;

}



.sectionHeader{
    margin-bottom: 10px;
}

.addMore{
    text-align: end;
    color: cadetblue;
    max-width: 730px;
}

.addMore span{
    cursor: pointer;
}

.formDataWrap{
    display: flex;
    flex-direction: row;
}

.radioButton{
    margin-right: 10px;
}

.error{
    color: red;
}

.rawTextarea{
    width: 730px;
    height: 300px;
}

.actionButtons{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.actionButtons button{
    margin-right: 20px;
}